@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html, body {
    height: 100%;
}

body {
    background: url(bckg.jpg) no-repeat center center fixed;
    background-size: cover;
}

/* front page images */
.content .images {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.content .images img {
    width: 200px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

section {
    position: relative;
    width: 100%;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

header {
    position: relative;
    top: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    position: relative;
    color: #000;
    font-size: 30px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 1px;
}

header .navigation a {
    color: #000;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 2px 15px;
    border-radius: 20px;
    transition: 0.3s;
    transition-property: background;
}

header .navigation a:not(:last-child) {
    margin-right: 30px;
}

header .navigation a:hover {
    background: #fff;
}

.content {
    max-width: 650px;
    margin: 60px 100px;
}

.content .info h2 {
    color: #226A80;
    font-size: 55px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    line-height: 60px;
    margin-bottom: 30px;
}

.content .info h2 span {
    color: #000;
    font-size: 50px;
    font-weight: 600;
}

.content .info p {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 40px;
}

.content .info-btn {
    color: #fff;
    background: #226A80;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    padding: 10px 20px;
    border-radius: 5px;
    transition: 0.3s;
    transition-property: background;
}

.content .info-btn:hover {
    background: #0C4F60;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .content {
        margin: 40px 20px;
    }

    .content .info h2 {
        font-size: 40px;
        line-height: 45px;
    }

    .content .info h2 span {
        font-size: 35px;
    }

    .content .info p {
        font-size: 14px;
    }

    .content .info-btn {
        padding: 8px 16px;
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .content {
        margin: 20px 10px;
    }

    .content .info h2 {
        font-size: 30px;
        line-height: 35px;
    }

    .content .info h2 span {
        font-size: 25px;
    }

    .content .info p {
        font-size: 12px;
    }

    .content .info-btn {
        padding: 6px 12px;
        font-size: 12px;
    }
}


label {
    display: none;
}

#check {
    z-index: 3;
    display: none;
}

/* Responsive styles */

@media (max-width: 960px) {
    header .navigation {
        display: none;
    }
    label {
        display: block;
        font-size: 25px;
        cursor: pointer;
        transition: 0.3s;
        transition-property: color;
    }
    label:hover {
        color: #fff;
    }
}

label .close-btn {
    display: none;
}

#check:checked ~ header .navigation {
    z-index: 2;
    position: fixed;
    background: rgba(114, 223, 225, 0.9);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#check:checked ~ header .navigation a {
    font-weight: 700;
    margin-right: 0;
    margin-bottom: 50px;
    letter-spacing: 2px;
}

#check:checked ~ header label .menu-btn {
    display: none;
}

#check:checked ~ header label .close-btn {
    z-index: 2;
    display: block;
    position: fixed;
}

label .menu-btn {
    position: absolute;
}

header .logo {
    width: 140px; /* Adjust as needed */
    height: 140px; /* Adjust as needed */
    background-image: url('logo.png');
    background-size: cover;
    background-position: center;
}

.content .info h2 {
    font-size: 45px;
    line-height: 50px;
}

.content .info h2 span {
    font-size: 40px;
    font-weight: 600;
}

.content .info p {
    font-size: 14px;
}

@media (max-width: 560px) {
    .content .info h2 {
        font-size: 35px;
        line-height: 40px;
    }
    .content .info h2 span {
        font-size: 30px;
        font-weight: 600;
    }
    .content .info p {
        font-size: 14px;
    }
}


/* Key Features Section */
.features {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 50px 100px;
    background: #f9f9f9;
    text-align: center;
}

.features h2 {
    width: 100%;
    font-size: 36px;
    color: #226A80;
    margin-bottom: 30px;
    text-align: center; /* Center the heading */
}

.feature {
    max-width: 200px;
    margin: 20px auto; /* Center the feature */
    text-align: center;
}

.feature i {
    font-size: 50px;
    color: #226A80;
    margin-bottom: 20px;
}

.feature h3 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

.feature p {
    font-size: 16px;
    color: #666;
}

/* Benefits Section */
.benefits {
    padding: 50px 100px;
    background: #fff;
    text-align: center;
}

.benefits h2 {
    font-size: 36px;
    color: #226A80;
    margin-bottom: 30px;
    text-align: center; /* Center the heading */
}

.benefit {
    max-width: 300px;
    margin: 0 auto 30px; /* Center the benefit */
}

.benefit h3 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

.benefit p {
    font-size: 16px;
    color: #666;
}

/* Real world app Use Cases Section */
.use-cases {
    padding: 50px 100px;
    background: #f9f9f9;
    text-align: center;
}

.use-cases h2 {
    font-size: 36px;
    color: #226A80;
    margin-bottom: 30px;
    text-align: center; /* Center the heading */
}

.use-case {
    max-width: 300px;
    margin: 0 auto 30px; /* Center the use case */
}

.use-case h3 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

.use-case p {
    font-size: 16px;
    color: #666;
}


/* Footer credits */
footer {
    padding: 20px 0;
    background: #226A80;
    color: #fff;
    text-align: center;
}

footer p {
    margin: 0;
}


/* Login Page Styles */
.login-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('bckg.jpg') no-repeat center center fixed;
    background-size: cover;
    padding: 20px;
}

.login-form {
    background: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.login-form h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.input-box {
    margin-bottom: 20px;
}

.input-box input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.remember-forgot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.remember-forgot label {
    font-size: 14px;
    color: #333;
}

.remember-forgot a {
    font-size: 25px; /* Adjusted font size */
    color: #226A80;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.btn {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #226A80;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
}

.btn:hover {
    background: #0C4F60;
}

.register-link {
    margin-top: 20px;
}

.register-link p {
    font-size: 25px; /* Adjusted font size */
    color: #333;
}

.register-link a {
    font-size: 25px; /* Adjusted font size */
    color: #226A80;
    text-decoration: none;
}

.register-link a:hover {
    text-decoration: underline;
}

.back-btn {
    display: inline-block;
    margin-top: 20px;
    color: #226A80;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    transition: color 0.3s;
}

.back-btn:hover {
    color: #0C4F60;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .login-wrapper {
        padding: 10px;
    }

    .login-form {
        padding: 20px;
    }

    .login-form h1 {
        font-size: 20px;
    }

    .input-box input {
        font-size: 14px;
    }

    .btn {
        font-size: 14px;
    }

    .register-link p, .register-link a, .remember-forgot label, .remember-forgot a, .back-btn {
        font-size: 30px;
    }
}


/* About Page Styles */
.about-section {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: url(bckg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    padding: 20px; /* Added padding */
}

.about-info {
    max-width: 800px;
    margin: 20px auto; /* Adjusted margin */
    background: rgba(255, 255, 255, 0.8);
    padding: 20px; /* Adjusted padding */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.about-info h2 {
    color: #226A80;
    font-size: 45px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.about-info p {
    font-size: 16px;
    font-weight: 500;
    color: #333;
    line-height: 1.6;
    margin-bottom: 20px;
}

/* Info Page Styles */
.info-section {
    position: relative;
    width: 100%;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: url(bckg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    padding: 20px; /* Added padding */
}

.info-details {
    max-width: 800px;
    margin: 20px auto; /* Adjusted margin */
    background: rgba(255, 255, 255, 0.8);
    padding: 40px; /* Adjusted padding */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.info-details h2 {
    color: #226A80;
    font-size: 45px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.info-details p {
    font-size: 16px;
    font-weight: 500;
    color: #333;
    line-height: 1.6;
    margin-bottom: 20px;
}


.info-details h2 {
    color: #226A80;
    font-size: 45px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.info-details p {
    font-size: 16px;
    font-weight: 500;
    color: #333;
    line-height: 1.6;
    margin-bottom: 20px;
}

/* Service Page Styles */
.services-section {
    position: relative;
    width: 100%;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; /* Center horizontally */
    background: url(bckg.jpg) no-repeat center center fixed; /* Fixed background */
    background-size: cover;
    padding: 20px; /* Added padding */
}

.services-details {
    max-width: 800px;
    margin: 20px auto; /* Adjusted margin */
    background: rgba(255, 255, 255, 0.8);
    padding: 40px; /* Adjusted padding */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.services-details h2 {
    color: #226A80;
    font-size: 45px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.services-details p,
.services-details ul li {
    font-size: 16px;
    font-weight: 500;
    color: #333;
    line-height: 1.6;
    margin-bottom: 20px;
}

.services-details ul {
    list-style-type: disc;
    margin-left: 20px;
    margin-bottom: 20px;
}

.services-details ul li {
    font-size: 16px;
    font-weight: 500;
    color: #333;
    line-height: 1.6;
    margin-bottom: 10px;
}

.services-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Aligns the content to the top */
    width: 100%;
    min-height: 90vh;
}

/* Responsive styles for the Services page */
@media (max-width: 768px) {
    .services-details {
        margin: 20px 10px; /* Adjusted margin */
        padding: 20px;
    }

    .services-details h2 {
        font-size: 30px;
    }

    .services-details p,
    .services-details ul li {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .services-details {
        margin: 10px 10px; /* Adjusted margin */
        padding: 15px;
    }

    .services-details h2 {
        font-size: 25px;
    }

    .services-details p,
    .services-details ul li {
        font-size: 12px;
    }
}


/* Landing page responsive style until responsive navigation menu*/

img {
    max-width: 100%;
    height: auto;
}

/* Flexible container widths */
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

/* Ensure flexbox is used effectively */
.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Media queries for smaller devices */
@media (max-width: 768px) {
    .content .info h2 {
        font-size: 35px;
        line-height: 40px;
    }
    .content .info p {
        font-size: 14px;
    }
}

/* Responsive navigation menu */
@media (max-width: 960px) {
    header .navigation {
        display: none;
    }
    label {
        display: block;
        font-size: 25px;
        cursor: pointer;
    }
    #check:checked ~ header .navigation {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 480px) {

}
    .login-form {
        padding: 15px;
    }

    .login-form h1 {
        font-size: 18px;
    }

    .input-box input {
        padding: 8px;
        font-size: 12px;
    }

    .btn {
        padding: 8px;
        font-size: 12px;
    }

    .register-link p, .register-link a, .remember-forgot label, .remember-forgot a, .back-btn {
        font-size: 10px;
    }
/* Responsive About Page Styles */
.about-section {
    position: relative;
    width: 100%;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: url(bckg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    padding: 20px; /* Added padding */
}

.about-info {
    max-width: 800px;
    margin: 20px auto;
    background: rgba(255, 255, 255, 0.8);
    padding: 40px; /* Adjusted padding */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.about-info h2 {
    color: #226A80;
    font-size: 45px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.about-info p {
    font-size: 16px;
    font-weight: 500;
    color: #333;
    line-height: 1.6;
    margin-bottom: 20px;
}

/* Media Queries for Mobile Devices */
@media (max-width: 600px) {
    .about-info {
        margin: 20px 10px; /* Adjusted margin */
        padding: 20px;
    }

    .about-info h2 {
        font-size: 30px;
    }

    .about-info p {
        font-size: 14px;
    }
}

/* Responsive Info Page Styles */
.info-section {
    position: relative;
    width: 100%;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: url(bckg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    padding: 20px; /* Added padding */
}

.info-details {
    max-width: 800px;
    margin: 20px auto;
    background: rgba(255, 255, 255, 0.8);
    padding: 40px; /* Adjusted padding */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.info-details h2 {
    color: #226A80;
    font-size: 45px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.info-details p {
    font-size: 16px;
    font-weight: 500;
    color: #333;
    line-height: 1.6;
    margin-bottom: 20px;
}

/* Media Queries for Mobile Devices */
@media (max-width: 600px) {
    .info-details {
        margin: 20px 10px; /* Adjusted margin */
        padding: 20px;
    }

    .info-details h2 {
        font-size: 30px;
    }

    .info-details p {
        font-size: 14px;
    }
}



/* Responsive styles for the Services page */
@media (max-width: 768px) {
    .services-details {
        margin: 20px auto;
        padding: 20px;
    }

    .services-details h2 {
        font-size: 30px;
    }

    .services-details p,
    .services-details ul li {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .services-details {
        margin: 10px auto;
        padding: 15px;
    }

    .services-details h2 {
        font-size: 25px;
    }

    .services-details p,
    .services-details ul li {
        font-size: 12px;
    }
}

/* Responsive Styles for logo */
@media (max-width: 768px) {
    header .logo {
        width: 100px; /* Adjust as needed */
        height: 100px; /* Adjust as needed */
    }
}

@media (max-width: 480px) {
    header .logo {
        width: 80px; /* Adjust as needed */
        height: 80px; /* Adjust as needed */
    }
}

/* Contact Us Page Styles */
.contact-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('bckg.jpg') no-repeat center center fixed;
    background-size: cover;
    flex-direction: column;
}

.contact-form {
    background: rgba(255, 255, 255, 0.9);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
    margin-bottom: 20px;
}

.contact-form h1 {
    margin-bottom: 20px;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #226A80;
}

.input-box {
    margin-bottom: 20px;
}

.input-box input,
.input-box textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background: rgba(255, 255, 255, 0.8);
    transition: background 0.3s, border-color 0.3s;
}

.input-box input:hover,
.input-box textarea:hover {
    background: rgba(255, 255, 255, 1);
    border-color: #0C4F60;
}

.input-box input:focus,
.input-box textarea:focus {
    border-color: #226A80;
    outline: none;
}

.input-box textarea {
    resize: vertical;
    height: 100px;
}

.btn {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #226A80;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.3s;
}

.btn:hover {
    background: #0C4F60;
}

.back-btn {
    display: inline-block;
    margin-top: 20px;
    color: #226A80;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    transition: color 0.3s;
}

.back-btn:hover {
    color: #0C4F60;
}

.booking-message {
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.booking-message h2 {
    font-size: 24px;
    color: #226A80;
    margin-bottom: 10px;
}

.booking-message p {
    font-size: 16px;
    color: #333;
}

/* Responsive styles contactus */
@media (max-width: 768px) {
    .contact-form {
        margin: 20px auto;
        padding: 20px;
    }

    .contact-form h1 {
        font-size: 30px;
    }

    .input-box input,
    .input-box textarea {
        padding: 8px;
        font-size: 14px;
    }

    .btn {
        padding: 8px 16px;
        font-size: 16px;
    }

    .back-btn {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .contact-form {
        margin: 10px auto;
        padding: 15px;
    }

    .contact-form h1 {
        font-size: 25px;
    }

    .input-box input,
    .input-box textarea {
        padding: 6px;
        font-size: 12px;
    }

    .btn {
        padding: 6px 12px;
        font-size: 14px;
    }

    .back-btn {
        font-size: 12px;
    }
}
