/* Base Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Kumbh Sans', sans-serif;
}

body {
  background-color: #131313;
  color: white;
  justify-content: center; 
  align-items: center; 
}

/* Navbar Styles */
.navbar {
  background: #131313;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 50px;
}

#navbar__logo {
  display: flex;
  align-items: center;
  color: white;
  font-size: 2rem;
  text-decoration: none;
}

#navbar__logo i {
  margin-right: 0.5rem;
}

.navbar__menu {
  display: flex;
  align-items: center;
  list-style: none;
}

.navbar__links {
  color: white;
  text-decoration: none;
  margin: 0 1rem;
}

.navbar__btn .button {
  padding: 10px 20px;
  background-color: #f77062;
  color: white;
  text-decoration: none;
  border-radius: 4px;
}


.button:hover {
  background-color: #ff665e;
  background: linear-gradient(90deg, #2979ff, #3f51b5);
    transform: scale(1.05);
}

.cta__button {
  padding: 10px 20px;
  background-color: #f77062;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  transition: background 0.3s ease, transform 0.3s ease;
}

.cta__button1 {
  padding: 10px 20px;
  background-color: #f77062;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center; 
  transition: background 0.3s ease, transform 0.3s ease;
}


.cta__button:hover {
  background: linear-gradient(90deg, #2979ff, #3f51b5); 
}

.cta__button1:hover {
  background: linear-gradient(90deg, #2979ff, #3f51b5); 
}


/* Hero Section */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px 50px;
  max-width: 1300px;
  margin: 0 auto;
}

.hero__content {
  max-width: 50%;
}

.hero__content h1 {
  font-size: 4rem;
  color: white;
  margin-bottom: 1rem;
  background-image: linear-gradient(to right, #ff0844, #ffb199);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.hero__content h1 span {
  background-image: linear-gradient(to right, #00c6ff, #0072ff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.hero__content p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

/* Hero Image */
.hero__image img {
  width: 400px;
  height: auto;
  transition: transform 0.3s ease-in-out; 
}

/* Responsive Styles */
@media screen and (max-width: 960px) {
  .hero {
    flex-direction: column;
    text-align: center;
    padding: 50px 20px;
  }

  .hero__content {
    max-width: 100%;
  }

  .hero__content h1 {
    font-size: 3rem; 
  }

  .hero__content p {
    font-size: 1.2rem; 
  }

  .hero__image {
    margin-top: 2rem;
  }

  .hero__image img {
    width: 350px; 
  }
}

@media screen and (max-width: 768px) {
  .hero {
    padding: 40px 20px; 
  }

  .hero__content h1 {
    font-size: 3.5rem; 
  }

  .hero__content p {
    font-size: 1.1rem; 
  }

  .hero__image img {
    width: 250px; 
  }
}

@media screen and (max-width: 480px) {
  .hero {
    padding: 30px 15px; 
  }

  .hero__content h1 {
    font-size: 2rem;
  }

  .hero__content p {
    font-size: 1rem;
  }

  .hero__image img {
    width: 350px; 
  }
}


/* Hype Section */
.hype {
  padding: 100px 50px;
  text-align: center;
  background-color: #131313;
}

.hype h2 {
  font-size: 2.5rem;
  margin-bottom: 50px;
  background-image: linear-gradient(to right, #ff0844, #ffb199);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

/* Hype Container with Grid Layout */
.hype__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 20px; 
  justify-items: center;
}

/* Hype Card Styling */
.hype__card {
  background-color: #1a1a1a;
  padding: 20px;
  border-radius: 10px;
  text-align: left;
  width: 100%;
  max-width: 350px; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hype__card img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 20px;
}

.hype__card h3 {
  font-size: 1.8rem;
  color: white;
  margin-bottom: 10px;
}

.hype__card p {
  font-size: 1rem;
  color: #b3b3b3;
  margin-bottom: 20px;
}

/* Responsive Design for Cards */
@media screen and (max-width: 960px) {
  .hype__container {
    grid-template-columns: repeat(2, 1fr); 
  }
}

@media screen and (max-width: 768px) {
  .hype__container {
    grid-template-columns: 1fr; 
  }
}

/* Footer Styles */
.footer {
  background-color: #1a1a1a; 
  color: #ffffff; 
  padding: 20px 0; 
  overflow: hidden;
  text-align: center; 
}

.footer__column ul {
  list-style: none;
  padding: 0;
}

.footer__column ul li {
  margin-bottom: 10px;
}

.footer__column ul li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 0.9rem;
}

.footer__column ul li a:hover {
  color: #ff8177; 
}

/* Footer Bottom Styles */
.footer__bottom {
  background-color: #1a1a1a;
  color: #ffffff;
  text-align: center;
  padding: 15px 0;
  font-size: 0.9rem;
  margin: 0; 
}



.footer__bottom p {
  margin: 0; 
}

html, body {
  height: 100%;
  margin: 0;
}

.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
}

.footer {
  margin-top: auto;
}

/* Responsive Footer */
@media screen and (max-width: 960px) {
  .footer__column {
    width: 100%; 
  }

  .footer__bottom {
    padding: 15px 0; 
    font-size: 0.8rem; 
  }
}


/* Optional: Remove the separator if not needed */
.separator {
  height: 0; 
  background: transparent;
}


/* Mobile Navigation Bar */
label {
  display: none; 
  font-size: 30px;
  cursor: pointer;
  transition: 0.3s;
  transition-property: color;
  color: white;
  position: absolute;
  right: 20px;
  top: 20px;
}

label .menu-btn {
  display: block;
}

label .close-btn {
  display: none;
}

#check:checked ~ header label .menu-btn {
  display: none;
}

#check:checked ~ header label .close-btn {
  display: block;
}
/* Hide the checkbox */
#check {
  display: none;
}


/* Mobile Menu Styles */
@media screen and (max-width: 768px) {
  .navbar__menu {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100%;
    background-color: #131313;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease;
    transform: translateX(100%);
    padding-top: 80px; 
  }

  /* Show the menu when checkbox is checked */
  #check:checked ~ nav .navbar__menu {
    transform: translateX(0);
  }

  .navbar__menu li {
    margin: 20px 0;
    list-style: none;
  }

  .navbar__links {
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
    padding: 10px 20px;
    text-align: center;
    display: block;
    width: 100%; 
  }

  .navbar__btn .button {
    padding: 12px 25px;
    background-color: #f77062;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    font-size: 1.5rem;
    margin-top: 20px;
    text-align: center;
    display: inline-block;
  }

  /* Menu icon for opening/closing */
  .mobile-menu-icon {
    display: block;
    cursor: pointer;
    font-size: 2rem;
    color: white;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
  }

  .menu-btn {
    display: inline;
  }

  .close-btn {
    display: none;
  }

  #check:checked ~ nav .menu-btn {
    display: none;
  }

  #check:checked ~ nav .close-btn {
    display: inline;
  }
}

/* Table of Contents Section */
.toc-section {
  padding: 40px 5%;
  margin-top: 40px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  background-color: #1a1a1a;

}

/* TOC Heading */
.toc-section h2 {
  text-align: left;
  font-size: 24px;
  font-weight: bold;
  color: #b3b3b3;
  margin-bottom: 20px;
}

/* List Items */
.toc-list li {
  margin: 10px 0;
  display: flex;
  align-items: flex-start; 
  padding-left: 30px; 
  position: relative;
}

/* Bullet Point Style */
.toc-list li::before {
  content: '\2022';
  color: #ff8177;
  font-weight: bold;
  position: absolute;
  left: 0; 
  top: 0; 
}

/* TOC Links */
.toc-list li a {
  text-decoration: none;
  font-size: 18px;
  color: #b3b3b3;
  font-weight: 500;
  transition: color 0.3s ease;
  line-height: 1.4;
}

.toc-list li a:hover {
  color: #ff8177;
}


/* Section Headings */
.toc-list .section-heading {
  font-weight: bold;
  color: #ff8177;
  margin-top: 20px;
}

/* Content Sections Under TOC */
.exploring, .understanding, .rise, .benefits, .transhumanism, .graphene, .scientist, .how, .lipid{
  padding: 20px;
  margin-top: 40px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

/* Section Heading Styles */
.exploring h2, .understanding h2, .rise h2, .benefits h2, .transhumanism h2, .graphene h2, .scientist h2, .how h2, .lipid h2 {
  font-size: 2rem;
  color: #fff;
  margin-bottom: 20px;
  background-image: linear-gradient(to right, #ff0844, #ffb199);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  margin-top: 20px; 
  margin-bottom: 20px; 
}

/* Paragraph Styles */
.exploring p, .understanding p, .rise p, .benefits p, .transhumanism p, .graphene p, .scientist p, .how p, .lipid p {
  font-size: 1rem;
  color: #b3b3b3;
  line-height: 1.6;
}

/* Link Styles Inside Sections */
.exploring a, .understanding a, .rise a, .benefits a, .transhumanism a, .graphene a, .scientist a, .how a, .lipid a {
  color: #f77062;
  text-decoration: none;
  transition: color 0.3s ease;
}

.exploring a:hover, .understanding a:hover, .rise a:hover, .benefits a:hover, .transhumanism a, .scientist a:hover, .how:hover, .lipid:hover {
  color: #ff665e;
}

/* Responsive Design */
@media screen and (max-width: 1024px) {
  .toc-section, .exploring, .understanding, .rise, .benefits, .transhumanism, .graphene, .scientist, .how, .lipid {
    padding: 30px 6%; 
  }

  .toc-section h2, .exploring h2, .understanding h2, .rise h2, .benefits h2, .transhumanism h2, .graphene h2, .scientist h2, .how h2, .lipid h2 {
    font-size: 1.75rem;
  }

  .toc-list li a {
    font-size: 17px;
  }
}

@media screen and (max-width: 768px) {
  .toc-section, .exploring, .understanding, .rise, .benefits, .transhumanism, .graphene, .scientist, .how, .lipid {
    padding: 25px 5%; 
    margin-top: 30px;
  }

  .toc-section h2, .exploring h2, .understanding h2, .rise h2, .benefits h2, .transhumanism h2, .graphene h2, .scientist h2, .how h2, .lipid h2 {
    font-size: 1.5rem;
  }

  .toc-list li a {
    font-size: 16px;
  }
}

@media screen and (max-width: 480px) {
  .toc-section, .exploring, .understanding, .rise, .benefits, .transhumanism, .graphene, .scientist, .how, .lipid {
    padding: 20px 5%; 
    margin: 20px 10px; 
  }

  .toc-section h2, .exploring h2, .understanding h2, .rise h2, .benefits h2, .transhumanism h2, .graphene h2, .scientist h2, .how h2, .lipid h2 {
    font-size: 1.25rem;
  }

  .toc-list li a {
    font-size: 15px;
  }

/* Adjust font size and spacing for smaller screens */
  .exploring p, .understanding p, .rise p, .benefits p, .transhumanism p, .graphene p, .scientist p, .how p, .lipid p {
    font-size: 0.95rem;
    line-height: 1.4;
  }
}

/* Vaxxed Sections */
.vaxxed {
  padding: 5px;
  margin-top: 10px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

/* Vaxxed Section Heading Styles */
.vaxxed h2 {
  font-size: 2rem;
  color: #fff;
  margin-top: 20px;
  margin-bottom: 20px;
  background-image: linear-gradient(to right, #ff0844, #ffb199);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

/* Vaxxed Paragraph Styles */
.vaxxed p {
  font-size: 1rem;
  color: #b3b3b3;
  line-height: 1.6;
}

/* Vaxxed Link Styles */
.vaxxed a {
  color: #f77062;
  text-decoration: none;
  transition: color 0.3s ease;
}

.vaxxed a:hover {
  color: #ff665e;
}

/* Responsive Design for Vaxxed Sections */
@media screen and (max-width: 1024px) {
  .vaxxed {
    padding: 10px 6%; /* Extra padding for readability */
  }

  .vaxxed h2 {
    font-size: 1.75rem;
  }
}

@media screen and (max-width: 768px) {
  .vaxxed {
    padding: 10px 5%;
    margin-top: 30px;
  }

  .vaxxed h2 {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 480px) {
  .vaxxed {
    padding: 10px 5%;
    margin: 20px 10px;
  }

  .vaxxed h2 {
    font-size: 1.25rem;
  }

  .vaxxed p {
    font-size: 0.95rem;
    line-height: 1.4;
  }
}


/* Introducing Section */
#INTRODUCING\ THE\ INTERNET\ OF\ BODIES\ \(IoB\).introducing {
  padding: 20px;
  margin-top: 40px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  text-align: center; 
  display: flex;
  flex-direction: column;
  align-items: center; 
}

/* IoB AT-A-GLANCE Section */
#IoB-AT-A-GLANCE {
  padding: 20px;
  margin-top: 40px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center; 
  text-align: center; 
}

/* Graphene */
#grapheneOxide {
  padding: 20px;
  margin-top: 40px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; 
}

/* Vax */
#vax {
  padding: 20px;
  margin-top: 40px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center; 
  text-align: center; 
}



/* How Changing our world */
#howchanging {
  padding: 20px;
  margin-top: 40px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centers all content within the section */
  text-align: center; /* Centers text within the section */
}


/* Image of How */
.how img {
  width: 100%; /* Set to take up full width of the container */
  max-width: 800px; /* Set a larger max-width for larger screens */
  margin: 20px auto;
  display: block;
}


/*lipid */

.lipid img {
  width: 100%; /* Set to take up full width of the container */
  max-width: 800px; /* Set a larger max-width for larger screens */
  margin: 20px auto;
  display: block;
}

/* Research dropdown */
.navbar__menu .dropdown {
  position: relative;
}

.dropdown__menu {
  display: none; /* Hide the dropdown menu by default */
  position: absolute; /* Position the dropdown relative to its parent */
  top: 100%; /* Position it just below the parent */
  left: 0; /* Align it to the left of the parent */
  background-color: #fff; /* Background color for the dropdown */
  padding: 10px 0; /* Add some padding */
  list-style: none; /* Remove bullet points */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow for effect */
  z-index: 1000; /* Ensure it appears above other elements */
}

.dropdown__menu li {
  padding: 8px 20px; /* Padding for the individual items */
}

.dropdown__menu li a {
  color: #333; /* Text color */
  text-decoration: none; /* Remove underlines from links */
  display: block; /* Make the entire area of the item clickable */
  font-size: 16px; /* Adjust the font size */
}

.dropdown__menu li a:hover {
  background-color: #f0f0f0; /* Change background color on hover */
  color: #f77062; /* Change text color on hover (matches accent color) */
}

/* Display the dropdown menu when the parent item is hovered */
.dropdown:hover .dropdown__menu {
  display: block; /* Show the menu */
}

/* Adjust the link color and spacing */
.dropdown__link {
  color: #fff; /* Color for the Research link in the navbar */
  padding: 0 20px; /* Spacing for the link */
}

/* Mobile styling */
@media screen and (max-width: 768px) {
  .dropdown__menu {
    position: static; /* Remove absolute positioning for mobile view */
    display: none; /* Hide the dropdown initially */
    width: 100%; /* Make it full width */
    background-color: #333; /* Set background for mobile */
  }
  
  .dropdown:hover .dropdown__menu {
    display: block; /* Ensure it expands on hover/tap */
  }

  .dropdown__menu li {
    padding: 10px; /* Adjust padding for mobile */
  }

  .dropdown__menu li a {
    color: #fff; /* White text for better contrast on mobile */
  }

  .dropdown__menu li a:hover {
    background-color: #444; /* Darker hover effect for mobile */
    color: #f77062; /* Accent color */
  }
}


/* Login Wrapper */
#login-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; 
}

.login-wrapper {
  background: #1a1a1a; 
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
  box-sizing: border-box;
}

.login-form h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  background-image: linear-gradient(to right, #ff0844, #ffb199);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
/* Styling for the Username Input Box */
.input-box {
  margin-bottom: 20px;
}

.input-box input {
  width: 100%;
  padding: 10px;
  border-radius: 8px; /* Rounded corners */
  border: 2px solid #f77062; /* Light red border */
  font-size: 1rem;
  background: rgba(255, 255, 255, 0.1); /* Slightly transparent background */
  color: #fff; /* White text for readability */
  transition: background 0.3s, border-color 0.3s, box-shadow 0.3s;
}

/* Hover Effect for the Username Input */
.input-box input:hover {
  background: rgba(255, 255, 255, 0.2); /* Brighter background on hover */
  border-color: #ff665e; /* Slightly darker red border on hover */
}

/* Focus Effect for the Username Input */
.input-box input:focus {
  border-color: #3f51b5; /* Blue border for focus */
  box-shadow: 0 0 5px rgba(63, 81, 181, 0.5); /* Subtle glow effect */
  outline: none; /* Remove default outline */
}


/* Remember me and forgot password */
.remember-forgot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  font-size: 0.9rem;
  color: #fff;
}

.remember-forgot a {
  color: #f77062;
  text-decoration: none;
  padding: 10px;
}

.remember-forgot a:hover {
  text-decoration: underline;
}

/* Button Styling (same as contact form) */
.btn {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: #f77062;
  color: white;
  font-size: 1.1rem;
  cursor: pointer;
}

/* Styling for the Password Input Box */
.input-box-pass input {
  width: 100%;
  padding: 10px;
  border-radius: 8px; /* Rounded corners */
  border: 2px solid #f77062; /* Light red border */
  font-size: 1rem;
  background: rgba(255, 255, 255, 0.1); /* Slightly transparent background */
  color: #fff; /* White text for readability */
  transition: background 0.3s, border-color 0.3s, box-shadow 0.3s;
}

/* Hover Effect for the Password Input */
.input-box-pass input:hover {
  background: rgba(255, 255, 255, 0.2); /* Brighter background on hover */
  border-color: #ff665e; /* Slightly darker red border on hover */
}

/* Focus Effect for the Password Input */
.input-box-pass input:focus {
  border-color: #3f51b5; /* Blue border for focus */
  box-shadow: 0 0 5px rgba(63, 81, 181, 0.5); /* Subtle glow effect */
  outline: none; /* Remove default outline */
}


.btn:hover {
  background: #ff665e;
  transform: translateY(-2px);
}

/* Back Button Styling */
.back-btn {
  display: inline-block;
  margin-top: 20px;
  color: #f77062;
  text-decoration: none;
}

.back-btn:hover {
  color: #ff665e;
}



/* Responsive Styles Logo */
@media (max-width: 768px) {
  .login-wrapper {
      padding: 30px;
  }
  .login-form h1 {
      font-size: 1.8rem;
  }
  .btn {
      padding: 8px;
      font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .login-wrapper {
      padding: 20px;
  }
  .login-form h1 {
      font-size: 1.6rem;
  }
  .input-box input {
      padding: 8px;
      font-size: 0.9rem;
  }
  .btn {
      padding: 8px;
      font-size: 0.9rem;
  }
  .register-link a {
      font-size: 0.9rem;
  }
  .back-btn {
      font-size: 0.9rem;
  }
}
  /* About Us Section */
.main-section {
  padding: 100px 50px;
  max-width: 1300px;
  margin: 0 auto;
}

.about-info, .info-details {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 40px;
  margin-bottom: 30px;
  border-radius: 10px;
  color: white;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.about-info h2, .info-details h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #f77062;
}

.about-info h3, .info-details h3 {
  font-size: 1.8rem;
  margin-bottom: 15px;
  color: white;
}

.about-info p, .info-details p {
  font-size: 1.1rem;
  color: #b3b3b3; 
  margin-bottom: 20px;
}

/* Responsive Design About */
@media screen and (max-width: 960px) {
  .main-section {
    padding: 50px 20px;
  }

  .about-info, .info-details {
    padding: 30px;
  }

  .about-info h2, .info-details h2 {
    font-size: 2rem;
  }

  .about-info h3, .info-details h3 {
    font-size: 1.6rem;
  }

  .about-info p, .info-details p {
    font-size: 1rem;
  }
}

@media screen and (max-width: 480px) {
  .main-section {
    padding: 30px 15px;
  } 

  .about-info, .info-details {
    padding: 20px;
  }

  .about-info h2, .info-details h2 {
    font-size: 1.8rem;
  }

  .about-info h3, .info-details h3 {
    font-size: 1.5rem;
  }

  .about-info p, .info-details p {
    font-size: 0.9rem;
  }
}

/* Smart Home */
.smarthome {
  padding: 100px 50px;
  text-align: center;
  background-color: #131313;
}


/* Services Section */
.services-section {
  padding: 100px 50px;
  max-width: 1300px;
  margin: 0 auto;
}

.services-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  min-height: 90vh;
}

.services-details {
  background: rgba(255, 255, 255, 0.1);
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 800px;
}

.services-details h2 {
  font-size: 2.5rem;
  color: #f77062;
  margin-bottom: 20px;
}

.services-details p,
.services-details ul li {
  font-size: 1.1rem;
  color: #b3b3b3;
  margin-bottom: 10px;
}

.services-details ul {
  list-style-type: disc;
  margin-left: 20px;
}

@media screen and (max-width: 960px) {
  .services-section {
      padding: 50px 20px;
  }

  .services-details {
      padding: 30px;
  }
}

/* Contact Form Section */
.contact-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #131313;
  padding: 20px;
}

.contact-form {
  background: rgba(255, 255, 255, 0.1);
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 400px;
  text-align: center;
  color: white; 
}

.contact-form h1 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #f77062;
}

.input-box {
  margin-bottom: 20px;
}

.input-box input, .input-box textarea {
  width: 100%;
  padding: 10px;
  border: 2px solid #f77062; /* Light red border */
  border-radius: 8px; /* Consistent rounded corners */
  font-size: 16px;
  background: rgba(255, 255, 255, 0.1); /* Slightly transparent background */
  color: white;
  transition: background 0.3s, border-color 0.3s, box-shadow 0.3s;
}

/* Hover Effect for Input and Textarea */
.input-box input:hover, .input-box textarea:hover {
  background: rgba(255, 255, 255, 0.2); /* Brighter background on hover */
  border-color: #ff665e; /* Slightly darker red border on hover */
}

/* Focus Effect for Input and Textarea */
.input-box input:focus, .input-box textarea:focus {
  border-color: #3f51b5; /* Blue border for focus */
  box-shadow: 0 0 5px rgba(63, 81, 181, 0.5); /* Subtle glow effect */
  outline: none; /* Remove default outline */
}

/* Textarea Styling */
.input-box textarea {
  resize: vertical;
  height: 100px;
}


.btn {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: #f77062;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s;
}

.btn:hover {
  background: #ff665e; 
}

.back-btn {
  display: inline-block;
  margin-top: 20px;
  color: #f77062;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  transition: color 0.3s;
}

.back-btn:hover {
  color: #ff665e;
}

/* Responsive styles for smaller devices */
@media screen and (max-width: 768px) {
  .contact-form {
      padding: 30px;
      max-width: 90%;
  }

  .contact-form h1 {
      font-size: 20px;
  }

  .input-box input, .input-box textarea {
      font-size: 14px;
  }

  .btn {
      font-size: 14px;
  }
}

@media screen and (max-width: 480px) {
  .contact-form {
      padding: 20px;
      max-width: 100%;
  }

  .contact-form h1 {
      font-size: 18px;
  }

  .input-box input, .input-box textarea {
      padding: 8px;
      font-size: 12px;
  }

  .btn {
      padding: 8px;
      font-size: 12px;
  }

  .back-btn {
      font-size: 12px;
  }
}

/* Navbar Styles */
.navbar {
  background: #131313;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background-color: #131313;
}

.logo-image {
  width: 55px; 
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background-color: #131313;
}

.logo-image {
  width: 55px; 
}

/* Center the Health Dashboard Title */
.dashboard-title {
  text-align: center;
  font-size: 2.8rem;
  color: #f77062;
  margin: 20px 0;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

/* Main Content */
main {
  padding: 20px 40px; /* Add space on the left and right */
  max-width: 1200px;
  margin: 0 auto;
  background: white;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Feature Section */
.feature-section {
  background: linear-gradient(135deg, #ffffff, #fdfdfd);
  padding: 25px;
  border-radius: 12px;
  margin-bottom: 20px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.feature-section:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.feature-section h3 {
  color: #f77062;
  margin-bottom: 15px;
  border-bottom: 2px solid #f77062;
  display: inline-block;
  padding-bottom: 5px;
}

/* Adjust Paragraph Color for Visibility */
.feature-section p {
  color: #555; /* Use a darker gray for better readability */
}

/* Responsive Design */
@media (max-width: 768px) {
  .dashboard-title {
    font-size: 2.2rem;
  }

  .feature-section {
    padding: 15px;
  }

  main {
    padding: 20px 15px; /* Add space on left and right */
    margin: 0 10px; /* Ensure content doesn't touch screen edges */
    border-radius: 10px; /* Slightly rounded corners for a cleaner look */
    background: white; /* Ensure a clean background */
  }

  }


/* Virtual Doctor Simulation */
#virtual-doctor-simulation {
  margin-top: 40px;
}

#ask-question textarea {
  width: 100%;
  height: 100px;
  padding: 10px;
  border: 2px solid #f77062;
  border-radius: 8px;
  resize: none;
  font-size: 1rem;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

#ask-question textarea:focus {
  outline: none;
  border-color: #3f51b5;
  box-shadow: 0 0 6px rgba(63, 81, 181, 0.5);
}

#ask-question button {
  background: linear-gradient(90deg, #f77062, #ff8a65);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  transition: background 0.3s ease, transform 0.2s ease;
}

#ask-question button:hover {
  background: linear-gradient(90deg, #3f51b5, #2979ff);
  transform: scale(1.05);
}

#doctor-response p {
  margin-top: 10px;
  font-style: italic;
  color: #666;
}

/* Vaccination Simulation */
#vaccination-simulation {
  margin-top: 20px;
}

#vaccineInfo {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
}

#vaccineInfo h4 {
  color: #f77062;
  margin-bottom: 10px;
}

#vaccineInfo p {
  margin: 5px 0;
  font-size: 0.95rem;
  color: #444;
}

/* Breathing Exercise Styling */
.circle-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 180px;
  height: 180px;
  margin: 30px auto;
}

.circle {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  border: 6px solid #4caf50;
  background: radial-gradient(circle, rgba(76, 175, 80, 0.1), rgba(76, 175, 80, 0.3));
  transition: transform 4s ease-in-out, border-color 4s ease-in-out;
}

.circle.inhale {
  border-color: #4caf50; /* Green */
  transform: scale(1.1);
}

.circle.hold {
  border-color: #ffeb3b; /* Yellow */
}

.circle.exhale {
  border-color: #f44336; /* Red */
  transform: scale(0.9);
}

#breathing-guide {
  position: absolute;
  font-size: 1.5rem;
  font-weight: bold;  
  color: #333;
}

#breathing-exercise h3 {
  color: #f77062;
  margin-bottom: 10px;
}

/* Textbox Styling */
input[type="text"],
input[type="number"],
textarea,
select {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  font-size: 1rem;
  border: 2px solid #f77062; /* Match your theme color */
  border-radius: 8px; /* Rounded corners */
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s, box-shadow 0.3s;
}

input[type="text"]:focus,
input[type="number"]:focus,
textarea:focus,
select:focus {
  border-color: #3f51b5; /* Change to blue on focus */
  box-shadow: 0 0 5px rgba(63, 81, 181, 0.5); /* Subtle glow */
  outline: none; /* Remove default outline */
}

/* Button Styling */
button,
input[type="button"] {
  display: inline-block;
  background: linear-gradient(90deg, #f77062, #ff8a65); /* Gradient button */
  color: white; /* White text for contrast */
  padding: 10px 20px; /* Padding for a button-like appearance */
  border: none;
  border-radius: 8px; /* Rounded corners */
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  transition: background 0.3s, transform 0.2s;
}

button:hover,
input[type="button"]:hover {
  background: linear-gradient(90deg, #3f51b5, #2979ff); /* Gradient changes on hover */
  transform: translateY(-2px); /* Slight lift effect */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Slightly stronger shadow */
}

button:active,
input[type="button"]:active {
  transform: translateY(1px); /* Pressed effect */
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2); /* Diminished shadow */
}

/* Placeholder Text Styling */
input::placeholder,
textarea::placeholder {
  color: #aaa; /* Light gray placeholder text */    
  font-style: italic; /* Italicized for differentiation */
}

/* Dropdown Styling */
select {
  background-color: white; /* White background */
  color: #333; /* Darker text for contrast */
  appearance: none; /* Remove default arrow (for customization) */
  cursor: pointer;
}

select:focus {
  outline: none; /* Remove default outline */
}

/* Button and Input Alignment */
.form-row {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* Space between inputs */
}

button {
  flex: 0 1 auto; /* Adjust button size relative to input */
}


/* City Tracker */
.dashboard-title {
  text-align: center;
  margin-top: 20px;
}

/* Feature Sections */
.feature-section {
  margin: 2rem;
}

/* Map */
#map {
  height: 500px; 
  width: 100%;
  position: relative;
  z-index: 1;
}

/* Map adjustments for mobile devices */
@media (max-width: 768px) {
  #map {
      height: 300px;
  }
}
/* Chatbot Styles */
.chatbot-container {
  margin-top: 20px;
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 8px;
}

.chatbot-container input {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.chatbot-container button {
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  margin-top: 10px;
  cursor: pointer;
}

.chatbot-container button:hover {
  background-color: #45a049;
}

.chatbot-response {
  margin-top: 10px;
  background-color: #fff;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

#population-graphic {
  text-align: center;
  margin-top: 20px;
}

.population-icons {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.person {
  width: 20px;
  height: 40px;
  background-color: #ccc;
  clip-path: polygon(50% 0%, 62% 12%, 75% 25%, 75% 62%, 50% 100%, 25% 62%, 25% 25%, 38% 12%);
}

.person.positive {
  background-color: #f77062;
}

.citybaron-link {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #ff8177;
  color: white;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  max-width: 200px;
  transition: background-color 0.3s ease;
}

.citybaron-link:hover {
  background-color: #ff665e;
  background: linear-gradient(90deg, #2979ff, #3f51b5);
}
/* Comparison Table Styling */
#comparison-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed; /* Enforces fixed layout for even spacing */
  margin-top: 15px;
  font-size: 0.95rem;
  background-color: #ffffff; /* White background for visibility */
  color: #333; /* Dark text for readability */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

#comparison-table th,
#comparison-table td {
  padding: 12px; /* Adjust padding for a balanced layout */
  text-align: center;
  border: 1px solid #ddd; /* Light border for separation */
  word-wrap: break-word; /* Allows long text to wrap */
  white-space: normal; /* Ensures text wrapping */
}

/* Table Header Styling */
#comparison-table th {
  background-color: #f77062; /* Theme color for header */
  color: #ffffff; /* White text for contrast */
  font-weight: bold;
  padding: 10px;
  text-align: center;
  font-size: 1rem;
}

/* Table Row Styling */
#comparison-table tr:nth-child(even) {
  background-color: #f9f9f9; /* Light gray for alternating rows */
}

#comparison-table tr:hover {
  background-color: #fef2f2; /* Slight highlight on hover */
}

/* Table Cell Styling */
#comparison-table td {
  font-size: 0.95rem;
  padding: 10px;
  color: #333; /* Dark text for readability */
}

#city-list p {
  margin-bottom: 5px; /* Adjust spacing between items */
  padding: 5px;        /* Optional: Add inner spacing */
 
}


/* Responsive Design for Mobile */
@media (max-width: 600px) {
  #comparison-table th,
  #comparison-table td {
    padding: 6px; /* Reduce padding for smaller screens */
    font-size: 0.85rem; /* Adjust font size for readability */
  }

  #comparison-table th {
    font-size: 0.9rem;
  }
}

/* Disease Outbreak Predictor */

/* Dashboard Title */
#prediction-dashboard h1 {
  text-align: center;
  font-size: 2.5rem;
  margin-top: 20px;
  color: #f77062;
}

/* Data Input Section */
.data-input {
  background-color: #fff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 2rem auto;
  width: 80%;
  max-width: 600px;
}

.data-input h2 {
  text-align: center;
  color: #333;
}

.data-input label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #333;
}

.data-input input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.data-input button {
  width: 100%;
  padding: 10px;
  background-color: #f77062;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1.1rem;
  cursor: pointer;
}

.data-input button:hover {
  background-color: #e65d50;
  background: linear-gradient(90deg, #2979ff, #3f51b5);
}

/* Results Section */
#results {
  text-align: center;
  margin: 2rem auto;
  padding: 1.5rem;
  width: 80%;
  max-width: 600px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#results h2 {
  color: #333;
}

#bmi-result.result {
color: #555;
}

#prediction-text {
  font-size: 1.2rem;
  color: #555;
  margin-top: 10px;
}

/* Weather Simulation Section */
#weather-simulation {
  background-color: #fff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 2rem auto;
  width: 80%;
  max-width: 600px;
}

#weather-simulation h2 {
  text-align: center;
  color: #333;
}

#weather-simulation label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #333;
}

#weather-simulation input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#weather-simulation button {
  width: 100%;
  padding: 10px;
  background-color: #f77062;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1.1rem;
  cursor: pointer;
}

#weather-simulation button:hover {
  background-color: #e65d50;
  background: linear-gradient(90deg, #2979ff, #3f51b5);
}

/* Weather Results Section */
#weather-results {
  text-align: center;
  margin: 2rem auto;
  padding: 1.5rem;
  width: 80%;
  max-width: 600px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#weather-results h2 {
  color: #333;
}

#simulation-text {
  font-size: 1.2rem;
  color: #555;
  margin-top: 10px;
}

/* population growth */

#population-growth-simulation h1 {
  text-align: center;
  font-size: 2.5rem;
  margin-top: 20px;
  color: #f77062;
}

/* Population Data Input Section */
#population-growth {
  background-color: #fff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 2rem auto;
  width: 80%;
  max-width: 600px;
}

#population-growth h2 {
  text-align: center;
  color: #333;
}

#population-growth input[type="number"] {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

#population-growth button {
  width: 100%;
  padding: 10px;
  background-color: #f77062;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1.1rem;
  cursor: pointer;
  margin-top: 1rem;
}

#population-growth button:hover {
  background-color: #1e5acb;
  background: linear-gradient(90deg, #2979ff, #3f51b5);
}


/* Growth Results Section */
#growth-results {
  text-align: center;
  margin: 2rem auto;
  padding: 1.5rem;
  width: 80%;
  max-width: 600px;
  background-color: #fff; 
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#growth-results h2 {
  color: #333;
}

#growth-list {
  list-style-type: none;
  padding: 0;
  font-size: 1.1rem;
  color: #555;
}


/* Button Styling */
button,
input[type="button"] {
    display: inline-block;
    background: linear-gradient(90deg, #f77062, #ff8a65);
    color: white;
    padding: 10px 20px;
    border: 2px solid #f77062;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: background 0.3s, transform 0.2s, border-color 0.3s;
}

button:hover,
input[type="button"]:hover {
    background: linear-gradient(90deg, #3f51b5, #2979ff);
    transform: translateY(-2px);
    border-color: #3f51b5;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* Input Styling */
input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    font-size: 1rem;
    border: 2px solid #f77062;
    border-radius: 8px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s, box-shadow 0.3s;
}

input[type="text"]:focus,
input[type="number"]:focus {
    border-color: #3f51b5;
    box-shadow: 0 0 5px rgba(63, 81, 181, 0.5);
    outline: none;
}

/* Specific Style for Population Growth Rate Input */
#population-growth input#growthRate {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  font-size: 1rem;
  border: 2px solid #f77062; /* Light red border for theme consistency */
  border-radius: 8px; /* Rounded corners */
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s, box-shadow 0.3s;
}

#population-growth input#growthRate:focus {
  border-color: #3f51b5; /* Focus color matches hover gradient */
  box-shadow: 0 0 5px rgba(63, 81, 181, 0.5); /* Glow effect on focus */
  outline: none; /* Remove default outline */
}

/* Styles for Future Weather Section Inputs */
#weather-simulation input[type="text"],
#weather-simulation input[type="date"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    font-size: 1rem;
    border: 2px solid #f77062; /* Light red border */
    border-radius: 8px; /* Rounded corners */
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s, box-shadow 0.3s;
}

#weather-simulation input[type="text"]:focus,
#weather-simulation input[type="date"]:focus {
    border-color: #3f51b5; /* Focus color matches hover gradient */
    box-shadow: 0 0 5px rgba(63, 81, 181, 0.5); /* Glow effect on focus */
    outline: none; /* Remove default outline */
}

/* Health Sync Alert Styles */

/* Dashboard Title */
.dashboard-title {
  text-align: center;
  font-size: 2.5rem;
  margin-top: 20px;
  color: #f77062;
}

/* Input Container */
.input-container {
  background-color: #fff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 2rem auto;
  width: 80%;
  max-width: 600px;
  text-align: center;
}

.input-container h2 {
  color: #333;
}

.input-container input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-top: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.input-container button {
  width: 100%;
  padding: 10px;
  background-color: #f77062;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1.1rem;
  cursor: pointer;
  margin-top: 1rem;
}

.input-container button:hover {
  background-color: #e65d50;
  background: linear-gradient(90deg, #2979ff, #3f51b5);
}

/* Symptom Checker Dashboard */
.symptom-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
  padding: 1rem;
  max-width: 1200px;
  margin: auto;
}

.symptom-card {
  background-color: #fff;
  width: 100%;
  max-width: 250px;
  padding: 1rem;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 2px solid #f77062; /* Light red border */
  margin-bottom: 10px;
}

.symptom-card h3 {
  font-size: 1.2rem;
  color: #f77062;
}

.symptom-card p, .symptom-card ul {
  color: #555;
  font-size: 1rem;
  margin-top: 10px;
}

/* Cholesterol and Migraine Notes */
#cholesterol-note, #headache-note {
  color: red;
  font-weight: bold;
}

/* ECG Chart */
.symptom-card canvas {
  margin-top: 1rem;
  height: 150px;
}

/* Cause of Death and Migraine Cards */
#cause-of-death-card, #headache-note-card {
  display: none;
  background-color: #fef2f2;
  color: #d9534f;
  padding: 1rem;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 1rem auto;
  text-align: center;
}

#name-input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  font-size: 1rem;
  border: 2px solid #f77062; /* Light red border */
  border-radius: 8px; /* Rounded corners */
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s, box-shadow 0.3s;
}

#name-input:focus {
  border-color: #3f51b5; /* Focus color matches hover gradient */
  box-shadow: 0 0 5px rgba(63, 81, 181, 0.5); /* Glow effect on focus */
  outline: none; /* Remove default outline */
}
/* Responsive Adjustments */
@media (max-width: 768px) {
  .symptom-card {
    max-width: 100%;
  }

  .input-container {
    width: 90%;
    padding: 1.5rem;
  }
}


/* Article Section */
.article {
  padding: 100px 50px;
  max-width: 1300px;
  margin: 0 auto;
  background-color: #131313;
}

.article h2 {
  font-size: 2.5rem;
  color: #ff8177; 
  margin-bottom: 30px;
}

.article p {
  font-size: 1.1rem;
  color: #b3b3b3;
  line-height: 1.6;
}

.article li {
  font-size: 1.1rem;
  color: #b3b3b3; 
  line-height: 1.6;
  margin-bottom: 10px;
}


.article img {
  width: 100%;
  max-width: 500px;
  margin: 20px auto;
  display: block;
}


/* Mobile Responsive for Article Section */
@media screen and (max-width: 960px) {
  .article {
    padding: 50px 20px;
  }

  .article h2 {
    font-size: 2rem;
  }
}

/* Article Section 2 (Consistent design with Article 1) */
.article2 {
  padding: 100px 50px;
  max-width: 1300px;
  margin: 0 auto;
  background-color: #131313; 
}

.article2 h2 {
  font-size: 2.5rem;
  color: #ff8177; 
  margin-bottom: 30px;
}

.article2 p {
  font-size: 1.1rem;
  color: #b3b3b3; 
  line-height: 1.6;
}

.article2 li {
  font-size: 1.1rem;
  color: #b3b3b3;
  line-height: 1.6;
  margin-bottom: 10px;
}

.article2 img {
  width: 100%;
  max-width: 600px;
  margin: 20px auto;
  display: block;
  transition: transform 0.3s ease-in-out;
}


/* Mobile Responsive for Article Section 2 */
@media screen and (max-width: 960px) {
  .article2 {
    padding: 50px 20px;
  }

  .article2 h2 {
    font-size: 2rem;
  }
}

/* article section 3 */

.hype{
  padding: 20px 20px; /* Reduced padding for top/bottom and sides */
}

.hype__card1 {
  text-align: center;
  margin-bottom: 30px;
  max-width: 300px;
}

.hype__card1 img {
  width: 150px;
  height: 150px;
  border-radius: 50%; 
  object-fit: cover; 
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: block;
  margin: 0 auto 20px;
}

.hype__card1 img:hover {
  transform: scale(1.1);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
}

.hype__card1 h3 {
  font-size: 1.5rem;
  color: #ff8177;
  margin-bottom: 10px;
}

.hype__card1 p {
  font-size: 1rem;
  color: #b3b3b3;
  line-height: 1.5;
  margin-bottom: 20px;
}

.hype h3 {
  font-size: 1.5rem;
  color: #fdfbfb;
  margin-bottom: 10px;
}

/* Responsive article 3 */
@media screen and (max-width: 960px) {
  .hype__container {
    flex-direction: column;
    align-items: center;
  }

  .hype__card1 img {
    width: 120px;
    height: 120px;
  }

  .hype__card1 h3 {
    font-size: 1.25rem;
  }

  .hype__card1 p {
    font-size: 0.9rem;
  }
}

/* article 4 */

#article4 {
  padding: 20px 20px; /* Reduced padding for top/bottom and sides */
  max-width: 1300px;
  margin: 0 auto;
  background-color: #131313; 
  display: flex;
  flex-direction: column;
  align-items: center; /* Center-align all child elements */
}

.article4 h2 {
  font-size: 2.5rem;
  color: #ff8177; 
  margin-bottom: 30px;
}

.article4 p {
  font-size: 1.1rem;
  color: #b3b3b3; 
  line-height: 1.6;

  
}

.article4 li {
  font-size: 1.1rem;
  color: #b3b3b3;
  line-height: 1.6;
  margin-bottom: 10px;
  

}

.article4 img {
  width: 100%;
  max-width: 600px;
  margin: 20px auto;
  display: block;
  transition: transform 0.3s ease-in-out;
}


/* Mobile Responsive for Article Section 2 */
@media screen and (max-width: 960px) {
  .article4 {
    padding: 50px 20px;
  }

  .article4 h2 {
    font-size: 2rem;
  }
}

/* Style for "Learn more" hyperlink within article 4 */
#article4 .learn-more {
  color: #ff8177;
  text-decoration: underline;
  font-weight: bold;
  margin-top: 40px;
  margin-bottom: 40px;
  display: inline-block;
  transition: color 0.3s ease;
}

/* Hover effect for "Learn more" hyperlink */
#article4 .learn-more:hover {
  color: #ffffff;
}

/* Article 5 */

#articlehack {
  padding: 20px 20px; 
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.articlehack h2 {
  font-size: 2.5rem;
  color: #ff8177;
  margin-bottom: 30px;
}

.articlehack h3 {
  font-size: 2rem;
  color: ffffff;
  margin-bottom: 20px;
}

.articlehack p {
  font-size: 1.1rem;
  color: #b3b3b3;
  line-height: 1.6;
  margin-bottom: 20px;
}

.articlehack img {
  width: 100%;
  max-width: 600px;
  margin: 20px auto;
  display: block;
  transition: transform 0.3s ease-in-out;
}

/* Style for "Learn more" hyperlink within articlehack */
#articlehack .learn-more {
  color: #ff8177;
  text-decoration: underline;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 30px;
  display: inline-block;
  transition: color 0.3s ease;
}

#articlehack .learn-more:hover {
  color: #ffffff;
}

/* Mobile Responsive for Article Section */
@media screen and (max-width: 960px) {
  .articlehack {
    padding: 50px 20px;
  }

  .articlehack h2 {
    font-size: 2rem;
  }

  .articlehack h3 {
    font-size: 1.8rem;
  }
}


/* Video Summary Section */
.video-summary {
  padding: 20px 20px; /* Reduced padding for top/bottom and sides */
  max-width: 1300px;
  margin: 0 auto;
  background-color: #131313;
}

.video-summary h3 {
  font-size: 2rem;
  color: #fdfbfb;
  margin-bottom: 30px;
  text-align: center;
}

.video-summary iframe {
  width: 100%;
  max-width: 800px;
  height: 450px;
  margin: 20px auto;
  display: block;
  border: none;
  transition: transform 0.3s ease;
}

.video-summary iframe:hover {
  transform: scale(1.05); /* Slight zoom effect on hover */
}

.video-summary p {
  font-size: 1.1rem;
  color: #b3b3b3;
  line-height: 1.6;
  text-align: center;
  margin-bottom: 20px;
}

.video-summary a:hover {
  text-decoration: underline; /* Underline on hover */
}

/* Mobile Responsive for Video Summary Section */
@media screen and (max-width: 960px) {
  .video-summary {
      padding: 30px 10px; /* Further reduced padding for mobile */
  }

  .video-summary h3 {
      font-size: 1.75rem;
  }

  .video-summary iframe {
      width: 100%;
      height: 350px;
  }

  .video-summary p {
      font-size: 1rem;
  }
}


